/*Global CSS*/
body {
	font-family: Gothic A1, sans-serif;
    background-color: #000000;
    z-index: 1;
    color: #ffffff;
}

.spacer-xs {
    height: 1em;
    pointer-events: none;
}

.spacer-sm {
    height: 8em;
    pointer-events: none;
}

.spacer-md {
    height: 12em;
    pointer-events: none;
}

.spacer-lg {
    height: 16em;
    pointer-events: none;
}

@white: #ffffff;

/*Icons*/
.icon-linkedin {
    background-image: url("../icons/linkedin.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 36px;
    width: 36px;
    display: inline-block;
    margin-right: 16px;
}

.icon-mail {
    background-image: url("../icons/mail.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 36px;
    width: 36px;
    display: inline-block;
    margin-right: 16px;
}

.icon-medium {
    background-image: url("../icons/medium.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 36px;
    width: 36px;
    display: inline-block;
    margin-right: 16px;
}

/*Fade Transition*/
.container {
    animation: myfadeInAnimation 0.4s;
}

@keyframe myfadeInAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-webkit-keyframes myfadeInAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
}

/*Font Styling*/
h1 {
	font-family: Gothic A1, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 64px;
    font-size: 48px;
}

h2 {
    font-family: Gothic A1;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    font-size: 36px;
}

p, li {
	font-family: Gothic A1;
    font-style: normal;
    font-weight: 200;
    line-height: 30px;
    font-size: 20px;
    letter-spacing: 0.02em;
}

a {
    color: #fff;
    text-decoration: none;
    opacity: 0.6;
    transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -webkit-transition: all .3s ease-in-out;
}

b {
    font-weight: 700;
}

.mute {
    opacity: 0.6 !important;
}

.tags {
    font-size: 12px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: 200;
    line-height: 36px;
}

.blockquote {
    font-weight: 700;
}

.caption {
    text-align: center;
    font-size: 14px !important;
    margin-top: 8px !important;
}


@media screen and (max-width: 768px) {
    h2 {
        line-height: 48px;
        font-size: 28px
    }

    p {
        font-size: 18px;
        letter-spacing: 0.025em;
    }

    .tags {
        line-height: 24px;
    }
}


/*Link CSS*/
a:hover {
    opacity: 1;
    color:#fff;
}

.link {
    color: #fff;
    opacity: 1;
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.work-link {
    position: relative;
    display: block;
    margin-top: 2em;
}

.link-hover:after {
     content: '';
     position: absolute;
     width: 100%;
     height: 3px;
     bottom: 0;
     left: 0;
     background-color: #fff;
     transform: scaleX(0);
     transform-origin: bottom right;
     transition: transform 0.4s;
}

 .link-hover:hover:after {
     transform-origin: bottom left;
     transform: scaleX(1);
}
 


/*Nav CSS*/

#navbar {
    padding: 16px 0;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.7s ease 0s;
    clear: both;
}

#navbar.filled {
    background-color: rgba(0,0,0,1);
    transition: background-color 0.7s ease 0s;

}

.navbar-nav>li.active>a, .navbar-nav>li.active>a:focus, .navbar-nav>li.active>a:hover {
	color: #ffffff;
	background: none;
}

.navbar-nav>li>a {
	color: #ffffff;
}

.navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
	background: none;
	color: #ffffff;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}

.navbar-nav>li {
    font-size: 14px;
}

.active {
    opacity: 1;
}

.dropdown-menu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    display: block;
    background-color: #0C0C0C;
    -webkit-transition: opacity .3s, visibility .3s;
    transition: opacity .3s, visibility .3s;
}

.dropdown:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
}

.dropdown-menu>li {
    padding-top: 6px;
    padding-bottom: 6px;
}

.dropdown-menu>li>a {
    color: #fff;
    font-size: 14px;
    font-weight: 200;
}

.dropdown-menu>li>a:hover {
    background: none;
    color: #fff;
    opacity: 1;
}

/*Main Content CSS*/

/*Hero CSS*/
.hero {
    height: 100vh;
}

.bgHero {
    min-width: 40%;
    height: 100vh;
    background-image: url('../img/bg.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
}

.inner-content {
    padding-left: 4%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
}

@media screen and (max-width: 768px) {
    .bgHero {
        width: 100%;
        background-size: cover;
        opacity: 0.15;
    }
    .hero {
        height: 100vh;
        position: absolute;
        left: 0;
        top: 24px;
    }

    .hero p {
        line-height: 28px;
        margin-bottom: 6px;
    } 
}


/*Main Content (Work) CSS*/
.work-img {
    max-width: 450px;
    height: auto;
    pointer-events: none;
}

.work-desc {
    float: right;
    display: block;
    padding-left: 12%;
    
}

.work {
    display: flex;
    align-items: center;
    justify-content: center;
}

.work .work-desc a {
    font-weight: 500;
    line-height: 36px;
    font-size: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

#work-2-desk .work-desc {
    float:left;
    padding-left: 0;
    padding-right: 12%;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 24px;
    }

    .work {
        display: block;
        text-align: center;
    }

    .work-img {
        width: 100%;
        height: auto;
    }

    .work-desc {
        float:none;
        padding: 0;
        text-align: left;
    }

    #work-2 .work-img {
        float: left;
    }

    #work-2 .work-desc {
        float: right;
    }
    
}

/*Footer CSS*/
#footer {
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-row a {
    opacity: 1;
}

.icon-row a:hover {
    opacity: 0.6;
}


/*Main Content (About) CSS*/
.about {
    max-height: 100vh; 
}

.about .bgHero {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH"; /*To Flip The Image Horizontally*/
    background-position-x: 0%;
    background-position-y: 100%;
    background-repeat: no-repeat;
    width: 100%;
    background-size: contain;
    float: right;
    opacity: 0.1;
    overflow: visible;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.about .inner-content {
    max-width: 84%;
    padding: 0;
}

.about h1 {
    font-size: 36px;
    line-height: 48px;
}

.about p {
    line-height: 28px;
    margin-bottom: 28px;
    font-size: 18px;
}

.about a, .article a {
    font-weight: 500;
    line-height: 36px;
    font-size: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

.about .section-title {
    margin-bottom: 32px;
}

.about .work-link {
    margin-top: 3em;
}

@media screen and (max-width: 768px) {
    .about {
        max-height: 100%;
    }

    .about .inner-content {
        max-width: 100%;
    }

    .container {
        padding: 0 36px;
    }

    .about .bgHero {
        background-size: cover;
    }

    .about h1 {
        font-size: 36px;
    }

    .about a {
        font-size: 14px; 
    }

    
}

/*Case Study Article CSS*/
.article {
    margin-top: 82px;
}

.article.container {
    width: 60%;
    overflow: visible;
}

.article-img {
    width: 100%;
    cursor: pointer;
    display: block;
    transition: width 0.2s, height 0.2s;
    margin: 0 auto;
}

.article-img.bigger {
    width: 135%;
    position: relative;
    left: -20%;
    transition: width 0.2s, height 0.2s;
}

iframe {
    display: block;
    margin: 0 auto;
}

.article .work-link {
    text-align: right;
}

.article h1 {
    font-size: 36px;
}

.article p, .article li {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 28px;
    opacity: 0.9;
}

.section-title p {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 0 !important;
    opacity: 0.6;
}

.section-subtitle p {
    font-size: 20px;
    margin-bottom: 12px !important;
}

.article .inner-content, .article .inner-content div {
    padding-left: 0;
    width: 100%;
}

@media screen and (max-width: 786px) {
    .article iframe {
        width: 90%;
    }

    .article.container {
        width: 100%;
    }

    .article h1 {
        font-size: 32px;
        line-height: 56px;
    }

    .article p {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 28px;
        opacity: 0.9;
    }

    .article a {
        font-size: 12px;
        text-align: left;
    }

    .section-title p {
        font-size: 24px;
        line-height: 36px;
        margin-top: 20px;
        margin-bottom: 0 !important;
        opacity: 0.6;
    }

}
/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/
/*START OLD CSS*/
/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/

/*Mobile Nav CSS*/

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay */    
    height: 100%;
    width: 100%;
    opacity: 0; /*opacity starts at 0, on click it turns to 1*/
    position: fixed; /* Stay in place */
    z-index: -1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: #000000; /* fallback color */
    background-color: rgba(0,0,0, 0.95); /* w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: none;  /*Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #ffffff;
}

/* Position the close button (top right corner) */
.closebtn {
    position: absolute;
    top: 4px;
    right: 36px;
    font-size: 32px !important;
    margin: 0 !important;
}

/*Mobile Dropdown CSS*/
#mob-work-dropdown {
    list-style: none;
    width: 40%;
    text-align: left;
    display: none;
    margin: 0 auto;
    padding-left: 72px;
}

#mob-work-dropdown li a {
    font-size: 16px;
}


/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .closebtn {
        font-size: 40px !important;
        top: 15px;
        right: 35px;
    }
}

#menuButton {
    position: fixed;
    top: 25px;
    left: 25px;
    z-index: 1000;
    cursor: pointer;
}


.bar1 {
    width: 30px;
    background-color: #ffffff;
    height: 3px;
    border-radius: 1px;
    margin-bottom: 5px;
}

.bar2 {
    width: 23px;
    background-color: #ffffff;
    height: 3px;
    border-radius: 1px;
    margin-bottom: 5px;
}

