/*Global CSS*/
body {
	font-family: body-regular, 'Roboto', sans-serif;
    background-color: #000000;
    z-index: 1;
    color: #ffffff;
}

.spacer-xs {
    height: 1em;
    pointer-events: none;
}

.spacer-sm {
    height: 8em;
    pointer-events: none;
}

.spacer-md {
    height: 12em;
    pointer-events: none;
}

.spacer-lg {
    height: 16em;
    pointer-events: none;
}

.spacer-xl {
    height: 20em;
    pointer-events: none;
}

@white: #ffffff;

/*Icons*/
.icon-linkedin {
    background-image: url("../icons/linkedin.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 36px;
    width: 36px;
    display: inline-block;
    margin-right: 16px;
}

.icon-mail {
    background-image: url("../icons/mail.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 36px;
    width: 36px;
    display: inline-block;
    margin-right: 16px;
}

.icon-medium {
    background-image: url("../icons/medium.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 36px;
    width: 36px;
    display: inline-block;
    margin-right: 16px;
}

/*Fade Transition*/
.container {
    animation: myfadeInAnimation 0.4s;
}

@keyframe myfadeInAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-webkit-keyframes myfadeInAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
}

/*Font Styling*/
h1 {
	font-family: body-bold-ext, 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 64px;
    font-size: 48px;
}

h2 {
    font-family: body-regular-ext, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    font-size: 36px;
}

p, li {
	font-family: body-regular, sans-serif;
    font-style: normal;
    font-weight: 200;
    line-height: 27px;
    font-size: 18px;
    /*letter-spacing: 0.02em;*/
}

a {
    color: #fff;
    text-decoration: none;
    opacity: 0.6;
    transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -webkit-transition: all .3s ease-in-out;
}

b {
    font-weight: 700;
}

.mute {
    opacity: 0.7 !important;
}

.tags {
    font-size: 12px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: 200;
    line-height: 36px;
}

.blockquote {
    font-weight: 700;
}

.caption {
    text-align: center;
    font-size: 14px !important;
    margin-top: 8px !important;
}


@media screen and (max-width: 768px) {
    h2 {
        line-height: 48px;
        font-size: 28px
    }

    p {
        font-size: 18px;
        letter-spacing: 0.025em;
    }

    .tags {
        line-height: 24px;
    }
}


/*Link CSS*/
a:hover {
    opacity: 1;
    color:#000;
}

/*.link {
    color: #fff;
    opacity: 1;
    display: inline-block;
    position: relative;
    text-decoration: none;
}*/
/*
.work-link {
    position: relative;
    display: block;
    margin-top: 2em;
}*/
 


/*Nav CSS*/

#navbar {
    padding: 16px 0;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.7s ease 0s;
    clear: both;
}

#navbar.filled {
    background-color: rgba(255,255,255,1);
    box-shadow: ;
    transition: background-color 0.5s ease 0s;
}

.body-article #navbar {
    background-color: #fff;
}

.navbar-nav>li.active>a, .navbar-nav>li.active>a:focus, .navbar-nav>li.active>a:hover {
	color: #000000;
	background: none;
}

.navbar-nav>li>a {
	color: #000000;
}

.navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
	background: none;
	color: #000000;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}

.navbar-nav>li {
    font-size: 14px;
}

.navbar-brand {
    color: #000000;
    padding-top: 0;
}

.navbar-brand img {
    max-height: 50px;
}

a.navbar-brand {
    opacity: 1 ;
}

.active {
    opacity: 1;
}

.dropdown-menu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    display: block;
    background-color: #0C0C0C;
    -webkit-transition: opacity .3s, visibility .3s;
    transition: opacity .3s, visibility .3s;
}

.dropdown:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
}

.dropdown-menu>li {
    padding-top: 6px;
    padding-bottom: 6px;
}

.dropdown-menu>li>a {
    color: #fff;
    font-size: 14px;
    font-weight: 200;
}

.dropdown-menu>li>a:hover {
    background: none;
    color: #fff;
    opacity: 1;
}

/*Main Content CSS*/

/*Hero CSS*/
.hero {
    height: 70vh;
    width: 100%;
    background: #ffffff;
    color: #000;
}

.hero.container {
    padding: 0 13.5%;
    display: flex;
    align-items: center;
    align-content: center;
}

.inner-content {
    height: 100%;
    max-width: 75%;
    display: flex;
    align-items: center;
    align-content: center;
    padding-bottom: 6%;
    margin: 0 24px;
}

.inner-content p {
    font-family: 'body-regular';
    line-height: 32px;
}


@media screen and (max-width: 768px) {
    .hero {
        height: 100vh;
    }

    .hero.container {
        padding: 0 10%;
    }

    .hero p {
        line-height: 28px;
        margin-bottom: 6px;
    } 

    .inner-content {
        max-width: 100%;
        margin: 0;
    }
}


/*Main Content (Work) CSS*/
#work {
    z-index: 1;
    overflow: visible;
}

.bgContainer {
    overflow: visible;
    background-image: url(../img/bg-opacity.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.work {
    display: inline-block;
    margin-top: -20%;
    max-width: 500px;
    max-height: 500px;
}

.work a {
    opacity: 1 !important;
    border-radius: 5px;
}

.work-img {
    max-width: 500px;
    width: auto;
    height: auto;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.work-img:hover {
  -webkit-box-shadow: 0 5px 40px rgba(0, 0, 0, 0.19), 0 5px 20px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 5px 40px rgba(0, 0, 0, 0.19), 0 5px 20px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 5px 40px rgba(0, 0, 0, 0.19), 0 5px 20px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 5px 40px rgba(0, 0, 0, 0.19), 0 5px 20px rgba(0, 0, 0, 0.23);
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.19), 0 5px 20px rgba(0, 0, 0, 0.23);
  opacity: 0.9;
}

.work .work-desc {
    font-weight: 700;
    line-height: 12px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
}

.work .work-desc p {
    margin-bottom: 2px;
}

.work .work-desc-title {
    font-family: 'body-regular-ext';
}

.work .work-desc .mute {
    font-family: body-regular, 'Roboto', sans-serif;
    font-size: 16px;
}

#work-2, #work-4, #work-6 {
    float: right;
}

@media screen and (max-width: 1200px) {
    .work {
        margin-top: -25%;
    }

    .work-img {
        max-width: 400px;
    }
}

@media screen and (max-width: 992px) {
    .work {
        margin-top: -30%;
    }

    .work-img {
        max-width: 325px;
    }
}

@media screen and (max-width: 768px) {
    #work {
        z-index: 0;
        overflow: hidden
    }

    .container {
        padding: 0 24px;
    }

    .work {
        display: block;
        text-align: center;
        margin: 0;
        max-width: 100%;
    }

    .work-img {
        width: 100%;
        height: auto;
    }

    .work .work-desc {
        float:none;
        max-width: 325px;
        text-align: left;
        margin: 0 auto;
        margin-top: 16px;
    }

    .work .work-desc .mute {
        font-size: 14px;
    }

    #work-2 .work-img {
        float: left;
    }

    #work-2 .work-desc {
        float: right;
    }
    
}

/*Footer CSS*/
#footer {
    background-color: #000;
    color: #fff;
}

@media screen and (min-width: 768px) {
    #footer .footer-container {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    #footer p.section-title {
        text-align: left;
    }

    #footer .work, #footer .work-img {
        margin: 0 auto;
        max-width: 200px;
        max-height: 200px;
    }

    #footer .work {
        margin: 0 auto;
    }
}

/*Main Content (About) CSS*/
.about {
    max-height: 100vh;
    color: #000000;
}

.about .bgHero {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH"; /*To Flip The Image Horizontally*/
    background-position-x: 0%;
    background-position-y: 100%;
    background-repeat: no-repeat;
    width: 100%;
    background-size: contain;
    float: right;
    /*opacity: 0.1;*/
    overflow: visible;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}


.about h1 {
    font-size: 32px !important;
    line-height: 40px;
}

.about p {
    line-height: 28px;
    margin-bottom: 28px;
    font-size: 18px;
}

.about a, .article a {
    text-decoration: none;
    color: #000000;
}

.about .section-title {
    margin-bottom: 32px;
}

.about .work-link {
    margin-top: 3em;
}

@media screen and (max-width: 768px) {
    .about {
        max-height: 100%;
    }

    .about .inner-content {
        max-width: 100%;
    }

    .container {
        padding: 0 36px;
    }

    .about .bgHero {
        background-size: cover;
    }

    .about h1 {
        font-size: 36px;
    }

    .about a {
        opacity: 1;
    }
    
}

/*Case Study Article CSS*/
.body-article {
    background-color: #fff;
    color: #000;
}

.article {
    margin-top: 82px;
}

.article.container {
    width: 60%;
    overflow: visible;
}

.body-article .hero.container {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.body-article .hero.container .section-title {
    color: #fff;
}

.article .inner-content {
    max-width: 100%;
}

.article-img {
    max-width: 40%;
    display: inline-block;
    margin: 0 auto;
}

.article-img-mob {
    max-width: 75%;
    display: block;
    margin: 0 auto;
    margin-bottom: 24px;
}

.img-container {
    display: flex;
    align-content: center;
    align-items: center;
}

iframe {
    display: block;
    margin: 0 auto;
}

.article .work-link {
    text-align: right;
}

.article h1 {
    font-size: 36px;
}

.article p, .article li {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 28px;
    opacity: 0.9;
}

.section-title .subheading {
    font-family: 'body-regular-ext'
}

.section-title p {
    font-family: 'body-bold-ext';
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 0 !important;
    opacity: 1 !important;
}

.section-subtitle p {
    font-size: 20px;
    margin-bottom: 12px !important;
}

.article .inner-content, .article .inner-content div {
    padding-left: 0;
    width: 100%;
}

@media screen and (max-width: 786px) {
    .body-article .hero.container {
        background-size: auto;
        padding: 0;
    }

    .body-article .hero.container .section-title {
        margin: 0 24px;
    }

    .body-article .hero.container .section-title h1 {
        font-size: 32px;
        line-height: 48px;
    }

    .body-article .hero.container .section-title p {
        font-size: 18px;
        line-height: 28px;
    }

    .article {
        margin-top: 32px;
    }

    .article iframe {
        width: 90%;
    }

    .article.container {
        width: 100%;
        padding: 0 24px;
    }

    .article.container .inner-content {
        margin: 0;
    }

    .article-img-mob {
        max-width: 100%;
        width: 100%;
    }

    .article h1 {
        font-size: 32px;
        line-height: 56px;
    }

    .article p {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 28px;
        opacity: 0.9;
    }

    .article a {
        text-align: left;
    }

    .section-title p {
        font-size: 24px;
        line-height: 36px;
        margin-top: 20px;
        margin-bottom: 0 !important;
        opacity: 0.6;
    }

}
/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/
/*START OLD CSS*/
/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/

/*Mobile Nav CSS*/

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay */    
    height: 100%;
    width: 100%;
    opacity: 0; /*opacity starts at 0, on click it turns to 1*/
    position: fixed; /* Stay in place */
    z-index: -1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: #000000; /* fallback color */
    background-color: rgba(0,0,0, 0.95); /* w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: none;  /*Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #ffffff;
}

/* Position the close button (top right corner) */
.closebtn {
    position: absolute;
    top: 4px;
    right: 36px;
    font-size: 32px !important;
    margin: 0 !important;
}

/*Mobile Dropdown CSS*/
#mob-work-dropdown {
    list-style: none;
    width: 40%;
    text-align: left;
    display: none;
    margin: 0 auto;
    padding-left: 72px;
}

#mob-work-dropdown li a {
    font-size: 16px;
}


/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .closebtn {
        font-size: 40px !important;
        top: 15px;
        right: 35px;
    }
}

#menuButton {
    position: fixed;
    top: 25px;
    left: 25px;
    z-index: 1000;
    cursor: pointer;
}


.bar1 {
    width: 30px;
    background-color: #B8B8B8;
    height: 3px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.bar2 {
    width: 23px;
    background-color: #B8B8B8;
    height: 3px;
    border-radius: 10px;
    margin-bottom: 5px;
}




